<div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag @product.image.variant(resize_and_pad: [500, 500, gravity: 'center', background: '#fff']), class: "d-block w-100"%>
    </div>
    <% @product.support_images.each do |img|%>
       <div class="carousel-item">
          <%=image_tag img.variant(resize_and_pad: [500, 500, gravity: 'center', background: '#fff']), class: "d-block w-100"%>
        </div>
    <% end %>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>