<div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
    <div class="product">
    <%begin%>
        <%= link_to image_tag(prod.image.variant(resize_and_pad: [500, 500, gravity: 'center', background: '#000'])), product_path(prod.id), remote: true%>
    <%rescue%>
        <%byebug%>
    <%end%>
    </div>
    <div class="tag bg-red">sale</div>
    <div class="title pt-4 pb-1"><%= prod.name %></div>
    <div class="d-flex align-content-center justify-content-center"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> </div>
    <div class="price">₹ <%= prod.price%></div>
</div>