<div class = 'card'>
    <div class = 'card-body'> 
     <div class = 'card-title'><h2>Edit Profile</h2></div>
      <hr>
         <%= render partial: 'form', locals: {obj: @profile, routing: {controller: :user_profile, action: :update}} %>
    </div>
</div>    